<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Terror</title>
</head>
<body>

    <div class="center">
        <h1>Page not found</h1>
        <h3>the page you requested does not exist</h3>
        <img src="../static/assets/terror.png" alt="">
    </div>
</body>
</html>